.el-progress-bar__inner
  // text-align center!important
  font-size $font-normal!important
  // left inherit
  // right 0!important

.el-progress-bar__outer
  background #0569ab!important

.el-progress-bar__innerText
  // position absolute
  // right 0
  // top 20%
  color #000!important

.el-select
  width 100px
  background #101847!important

.el-input__inner
  background #050A27!important
  color #91D2FA!important
  border 1px solid #3D8CB5!important

.el-select-dropdown
  background #1F406B!important
  border none!important
  color #91D2FA!important 

.el-select-dropdown__item 
  color #91D2FA!important  

.el-select-dropdown__item.hover, .el-select-dropdown__item:hover
  background #2D6B8E!important
  color #91D2FA!important 

.popper__arrow
  display none!important

.el-icon-arrow-up:before
  color #91D2FA!important 

.el-icon-arrow-left:before, .el-icon-arrow-right:before
  display none!important 

// .el-carousel, .el-carousel__item.is-active.is-animating
//   height 500px!important
.el-select-dropdown__item 
  font-size 14px!important

.el-form-item .el-input__inner
  padding-left 40px
  font-size 18px
  color #000!important
  background #fff!important

.el-checkbox__input.is-checked+.el-checkbox__label, .el-checkbox__label
  color #BECFE2!important

.el-checkbox__inner
  background none!important
  border-color #94A2B6!important

.checkbox__inner
  border-color none!important

// ----------------------------------  菜单栏  ----------------------------------
.el-tree
  color #D0D5D9!important
  background #0A1A29!important

.el-tree-node__content
  height 40px
  // padding-left 8px!important
  background #0573A4!important
  // &:before 
  //   content ''
  //   width 30px
  //   height 30px
  &:hover
    // color #00FFFF!important

.el-tree-node__label
  font-size 16px!important

.el-tree-node__expand-icon 
  position: absolute!important
  right 0!important
  transform rotate(-90deg)!important

.el-tree-node__expand-icon.expanded
  transform rotate(90deg)!important

// ------------------------------------  日期  ---------------------------------------
.el-picker-panel .el-input__inner, .el-date-editor .el-input__inner
  color #D2FFFF!important
  background #103045!important
  cursor pointer!important

.el-picker-panel__body .el-scrollbar:nth-of-type(2), .el-picker-panel__body .el-scrollbar:nth-of-type(3)
  display none!important

.el-time-panel
  width 144px!important
  left 5px!important
  text-align center!important

.el-time-panel__footer
  text-align center!important

.el-input__suffix, .el-button--text 
  display none!important







// .el-tree-node > .el-tree-node__content:nth-of-type(1)
//   &:before
//     background url(../img/icon-online.png) no-repeat

// .el-tree-node__content:nth-of-type(2)
//   &:before
//     background url(../img/icon-lock.png) no-repeat

// .el-tree-node__content:nth-of-type(3)
//   &:before
//     background url(../img/icon-meter.png) no-repeat

// .el-tree-node__content:nth-of-type(4)
//   &:before
//     background url(../img/icon-info.png) no-repeat


// .el-tree-node__children
//   &:before
//     background url(../) no-repeat