.el-progress-bar__inner
  font-size $font-normal!important

.el-progress-bar__outer
  background #0569ab!important

.el-progress-bar__innerText
  color #000!important

.el-select
  width 100px
  // background #101847!important

.el-input__inner
  background #103045!important
  color #C4F4FF!important
  border 1px solid #3D8CB5!important
  padding 13px!important

.el-select-dropdown
  background #103045!important
  border none!important
  color #C4F4FF!important 

.el-select-dropdown__item 
  color #C4F4FF!important  

.el-select-dropdown__item.hover, .el-select-dropdown__item:hover
  background #2D6B8E!important
  color #C4F4FF!important 

.popper__arrow
  display none!important

.el-icon-arrow-up:before
  color #C4F4FF!important 

.el-icon-arrow-left:before, .el-icon-arrow-right:before
  display none!important 

.el-select-dropdown__item 
  font-size 14px!important

.el-form-item .el-input__inner
  padding-left 40px
  font-size 18px
  color #000!important
  background #fff!important

.el-checkbox__input.is-checked+.el-checkbox__label, .el-checkbox__label
  color #BECFE2!important

.el-checkbox__inner
  background none!important
  border-color #94A2B6!important

.checkbox__inner
  border-color none!important

// ----------------------------------  菜单栏  ----------------------------------
.el-tree
  color #D0D5D9!important
  background #0A1A29!important

.el-tree-node__content
    height 40px
    background #0573A4!important

.el-tree-node__label
  font-size 12px!important
  margin-left 8px
  &:before
    display inline-block
    width 15px
    content url(../assets/icon-lock.png)

.el-tree-node__expand-icon 
  position: absolute!important
  right 0!important
  transform rotate(-90deg)!important

.el-tree-node__expand-icon.expanded
  transform rotate(90deg)!important

.el-tree-node__children .el-tree-node__label
  margin-left 10px!important
  &:before
    display inline-block
    width 20px
    overflow hidden
    position relative
    top 4px
    content url(../assets/icon-child-line.png)

.el-tree-node__children .el-tree-node__content
  padding-left 13px!important
  background #1B405B!important

// ------------------------------------  日期  ---------------------------------------
.el-picker-panel
  background #085d8a
  color #bceaff

.el-picker-panel .el-input__inner, .el-date-editor .el-input__inner
  color #D2FFFF!important
  background #103045!important
  cursor pointer!important
  font-size 16px

.el-picker-panel__body .el-scrollbar:nth-of-type(2), .el-picker-panel__body .el-scrollbar:nth-of-type(3)
  display none!important

.el-time-panel
  width 144px!important
  left 5px!important
  text-align center!important

.el-time-panel__footer
  text-align center!important

.el-input__suffix, .el-button--text 
  display none!important

.el-input__prefix
  display none!important

.el-picker-panel__icon-btn, .el-date-picker__header-label, .el-date-table th
  color #bceaff

.el-date-table td.today span, .el-date-table td span:hover
  color #00fffb




// ------------------------------------ 表格 --------------------------------------------------
.el-table th
  background #0C2136!important             
  color #A4D1DC!important
  border 1px solid #3986B0!important
  border-left 0!important
  &:nth-of-type(1)
    border-left 1px solid #3986B0!important

.el-table--enable-row-transition .el-table__body td
  border-right 1px solid #3986B0!important
  border-bottom 1px solid #3986B0!important
  &:nth-of-type(1)
    border-left 1px solid #3986B0!important

.el-table tr
  background #103045!important             
  color #A4D1DC!important
  border 1px solid #3986B0!important
  &:hover
    background #103045!important
    color #A4D1DC!important

.el-table__row
  color red!important
  &:hover
    background red!important
    
.el-table--enable-row-hover .el-table__body tr:hover>td
  background none!important

.el-table__empty-block
  background #103045!important
  color #a4d1dc !important
  border-left 1px solid #3986B0!important
  border-right 1px solid #3986B0!important
  border-bottom 1px solid #3986B0!important

// ------------------------------------------  分页 -------------------------------------------
.el-pagination__total, .el-pagination__jump
  color #A5D2E2!important

.el-pagination .btn-prev, .el-pagination .btn-next, .el-pager li
  border 1px solid #3A87B2!important
  color #A5D2E2!important
  background #103045!important

.el-pager li.active
  color #fff
  background #0476A8!important

.jumper .el-input__inner
  width 60px!important
  height 20px!important
  margin 0 4px!important

.btn-next
  padding-left 6px!important

.el-table__empty-text
  color #a4d1dc !important