@import './reset'
@import './element-ui'
@import './mixin'
@import './variable'

html, body 
  width 100%
  height 100%
  background $bg
  color $color-normal
  font-size $font-normal


/*-------------------------------  百度地图     --------------------------- */
.BMap_cpyCtrl,.anchorBL 
  display none
