$font-normal = 18px
$font-big = 32px
$font-small = 16px
$font-smaller = 14px

$bg = #0A1A29
$bg-panel = #103045
$bg-active = #0573A4
$bg-panel = #103045

$color-white = #FFFFFD
$color-normal = #C5F6FF
$color-active = #00FFFF


$yellow = #EF7400
$red = #F64113





